<div class="sidebar-navigation hidde-sm hidden-xs">
    <div class="logo">
        <a href="#">Rianshi <em>Developers</em></a>
  <!--      <a href="assets/img/Rianshi_plaza.jpg" data-lightbox="image"><img src="assets/img/logo.jpg" alt="image 1"></a>
  -->
    </div>
    <nav>
        <ul>
            <li>
                <a href="#top">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Home
                </a>
            </li>
            <li>
                <a href="#video">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Our Company
                </a>
            </li>
            <li>
                <a href="#ongoing">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Ongoing Projects 
                </a>
            </li>
            <li>
                <a href="#completed">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Completed Projects 
                </a>
            </li>
            <li>
                <a href="#gallery">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Photo Gallery
                </a>
            </li>

        <!--         
             <li>
                <a href="#blog">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Our Company
                </a>
            </li>
        -->
            <li>
                <a href="#contact">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>
 <!--   <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
-->
</div>