<section id="contact" class="content-section">
    <div id="map"> 
      <!-- How to change your own map point
               1. Go to Google Maps
               2. Click on your location point
               3. Click "Share" and choose "Embed map" tab
               4. Copy only URL and paste it within the src="" field below
        -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.20808879618!2d91.78011891450434!3d26.157351698495823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a591a092683f7%3A0x83978ee5c6a6c686!2sPunjab%20National%20Bank%2C%20Zoo%20Road%20Branch!5e0!3m2!1sen!2sin!4v1604284162629!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
        
    </div>
    
    
    <div id="contact-content">
        <div class="section-heading">
            <h1><em>Contact Us !!</em></h1>
        </div>
        <div class="section-content">           
                <div class="row">
                    <div class="col-md-5">
                    
                        <h2><b>Corporate Office:</b></h2><br>
                        <h4>Rianshi World , First Floor, </h4>
                        <h4>Sundarpur Main Road , </h4>
                        <h4>Near PNB bank, </h4>
                        <h4>Zoo Road, Guwahati </h4>
                        <h4>Assam - 781005 , India </h4><br>
                    </div> 
                        <div class="col-md-6"> 
                        <h3><b>Contact Information:</b></h3><br>
                        <h4>support@rianshidevelopers.com</h4>
                        <h4>+91 9999999999</h4>                     
                    </div>
                    <div id="form">
                    <div class="col-md-8"></div>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd6FQRktggBZpPG6z8ClfygdlBO5wYnPvzIeBP-3H_is5b4SQ/viewform?embedded=true" width="640" height="797" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
<!--
                        <div class="col-md-6">
                        <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                        </fieldset>
                    </div>
                    <div class="col-sm-offset-5 col-md-6">
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn" >Send Message Now</button>
                        </fieldset>
                    -->     
                 
                    
                </div>
            
            
        </div>
    </div>
</section>
