<section id="gallery" class="content-section">
    <div class="section-heading">
        <h1><em>Photo Gallery</em></h1>
    </div>
    <div class="section-content">
        <div class="masonry">
            <div class="row">
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_plaza.jpg" data-lightbox="image"><img src="assets/img/Rianshi_plaza.jpg" alt="image 1"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_apartment.jpg" data-lightbox="image"><img src="assets/img/Rianshi_apartment.jpg" alt="image 2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_enclave.jpg" data-lightbox="image"><img src="assets/img/Rianshi_enclave.jpg" alt="image 3"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_exotica.jpg" data-lightbox="image"><img src="assets/img/Rianshi_exotica.jpg" alt="image 4"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_greens.jpg" data-lightbox="image"><img src="assets/img/Rianshi_greens.jpg" alt="image 5"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_palace.jpg" data-lightbox="image"><img src="assets/img/Rianshi_palace.jpg" alt="image 5"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_pride.jpg" data-lightbox="image"><img src="assets/img/Rianshi_pride.jpg" alt="image 5"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_woods.jpg" data-lightbox="image"><img src="assets/img/Rianshi_woods.jpg" alt="image 5"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_world.jpg" data-lightbox="image"><img src="assets/img/Rianshi_world.jpg" alt="image 5"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-md-6">
                        <a href="assets/img/Rianshi_garden.jpg" data-lightbox="image"><img src="assets/img/Rianshi_garden.jpg" alt="image 5"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</section>