<section id="ongoing" class="content-section">
    <div class="section-heading">
        <h1><em>Ongoing Projects</em></h1>
    </div>
    <div class="section-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_pride.jpg" alt="">
                    
                </div>
                <div class="text-content">
                    <h4>RIANSHI PRIDE</h4>
                    <span>Bishnujyoti Path</span>                   
                </div>          
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_woods.jpg" alt="">
                   
                </div>
                <div class="text-content">
                    <h4>RIANSHI WOODS</h4>
                    <span>Lakhiminagar</span>
                   
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_exotica.jpg" alt="">
                    
                </div>
                <div class="text-content">
                    <h4>RIANSHI EXOTICA</h4>
                    <span>Panjabari</span>
                   
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_greens.jpg" alt="">
                    
                </div>
                <div class="text-content">
                    <h4>RIANSHI GREENS</h4>
                    <span>Sixmile</span>
                   
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_world.jpg" alt="">
                   
                </div>
                <div class="text-content">
                    <h4>RIANSHI WORLD</h4>
                    <span>Sundarpur</span>
                   
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_palace.jpg" alt="">
                    
                </div>
                <div class="text-content">
                    <h4>RIANSHI PALACE</h4>
                    <span>Anandapath</span>
                  
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_plaza.jpg" alt="">
                    
                </div>
                <div class="text-content">
                    <h4>RIANSHI PLAZA</h4>
                    <span>Pubsarania</span>
                   
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>


        </div>
    </div>
</section>