<!-- header -->
<app-header></app-header>

<!-- side-bar-navigation-->
<app-sidebar-navigation></app-sidebar-navigation>

<!-- about us -->
<app-about-us-slider></app-about-us-slider>

<div class="page-content">
  
  <!-- featured video-->
  <app-featured-video></app-featured-video>
  
  <!-- on going projects-->
  <app-on-going-projects></app-on-going-projects>

  <!-- completed projects -->
  <app-completed-projects></app-completed-projects>

  <!-- photo gallery-->
  <app-photo-gallery></app-photo-gallery>

  
  <!-- blog entries -->
  <!--
  <app-blog-content></app-blog-content>
  -->
  <!-- contact us -->
  <app-contact-us></app-contact-us>

  <!-- footer -->
  <app-footer></app-footer>

</div>
