<div class="slider">
    <div class="Modern-Slider content-section" id="top">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
            <div class="image"></div>
            <div class="info">
                <div>
                    <h1>Rianshi Developers</h1>
                    <p>“We shape our buildings; thereafter, they shape us” <br>
                      – Winston Churchill</p>
                  <div class="white-button button">
                      <a href="#featured">Discover More</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Rianshi Developers</h1>
                        <p>"Owning a home is a keystone of wealth ,
                          <br>both financial affluence and emotional security"
                          <br> - Suze Orman </p>
                  
                  <div class="white-button button">
                      <a href="#featured">Learn More</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="image"></div>
                <div class="info">
                    <div>
                        <h1>Rianshi Developers</h1>
                        <p>“It is not the beauty of a building you should look at ,
                           <br> it is the construction of the foundation that will stand the test of time.” 
                          <br> -David Allan Coe </p>
                  
                  <div class="white-button button">
                      <a href="#featured">Visit Us</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
  </div>
  