<section id="video" class="content-section">
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <h1><em>About Our Company</em></h1>
                <br> <br>         
                <p>We are one the real estate companies in Guwahati with a vision to satisfy our customers. We 
                    want to change the real estate skyline of Guwahati with our residential and commercial related 
                    infrastructure project. 
                    During the course of time, from one project a year, the company had grown to a stage of 
                    handling multiple projects at a time. Thus, RDPL as one of the most revered developers in 
                    Guwahati. 
                    We use high quality raw material throughout our service in every field as we are one of the 
                    renowned quality centric organization and quality is our prior aim. We procure the raw material 
                    from quality driven organization that is checked at our quality inspection unit as to provide 
                    unique quality service to our esteemed clients. We offer these services after complete planning 
                    and designing of the project.</p> <br> <br> <br>
                <h3><em>Our Infrastructure Contains</em></h3>
                <p> 1. Modernized computer facilities with maximum software input and output. Constant 
                    flow of funds for uninterrupted project work. <br> <br>
                    2. Experienced and result oriented technical on projects for timely execution of work. All 
                    our flats for sale in Guwahati are constructed upholding our stringent quality policy, 
                    while ensuring timely completion of project. <br> <br>
                    3. Tools, machinery, shuttering materials and other accessories are made available as 
                    required, in time for multiple project work. Trustworthy work-force for handling 
                    various projects at a time with consistency and experience.</p>  <br> <br> <br>
                <h3><em>Why Rianshi Developers Private Ltd. </em> </h3>
                <p> “Beginning of our project is beginning of 
                    your habitation and happiness” <br>
                    1. Service to customers as well as outsiders. <br>
                    2. We have delivered all our project on time  <br>
                    3. We listen to our customer and satisfy them  <br>
                    4. We use newer technology to commit durable and humane structure. <br>
                    5. For the price we commit the best value for money proposed.</p>
                   <p>We try every possible way to keep our commitment religiously towards catering every 
housing need of our customers, thus building trust. </p>
            </div>

        <!--
            <div class="accent-button button">
                <a href="#contact">Continue Reading</a>
            </div>
        -->
        </div>
        <div class="col-md-12">
            <div class="box-video">
             <!--  <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                    <div class="bt-play">Play</div>
                </div>
            -->
                <div class="video-container">
                    <!-- <iframe width="100%" height="520" src="https://www.youtube.com/embed/j-_7Ub-Zkow?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe> -->
                    <iframe width="100%" height="520" src="assets/img/video.mp4" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>