<section id="completed" class="content-section">
    <div class="section-heading">
        <h1><em>Completed Projects</em></h1>
    </div>
    <div class="section-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_garden.jpg" alt="">
                </div>
                <div class="text-content">
                    <h4>RIANSHI GARDEN</h4>
                    <span>Ananda Path</span>                  
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28656.35916195749!2d91.76313670128216!3d26.13007912177711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a592383e24ccf%3A0x71c9aebc884cae70!2sAnanda%20Path%2C%20Mula%20Gabharu%20Path%2C%20Kahilipara%2C%20Guwahati%2C%20Assam%20781019!5e0!3m2!1sen!2sin!4v1604284567978!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_apartment.jpg" alt="">
                </div>
                <div class="text-content">
                    <h4>RIANSHI APARTMENT</h4>
                    <span>Rodali Path</span>
                </div>
                
            <div id="map"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.9143976663445!2d91.77721891450452!3d26.1669171980966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5909362b73e3%3A0x4dd0eebc87153bd9!2sZoo%20Road%20%26%20Rodali%20Path%2C%20Junali%2C%20Ambikagirinagar%2C%20Guwahati%2C%20Assam%20781024!5e0!3m2!1sen!2sin!4v1604284815245!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
            </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="assets/img/Rianshi_enclave.jpg" alt="">
                </div>
                <div class="text-content">
                    <h4>RIANSHI ENCLAVE</h4>
                    <span>Medhiphukan Path</span>
                
                </div>
                <div id="map"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.782584703746!2d91.77858871450391!3d26.138630999276586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a593a806ac8c1%3A0x3c6f77c8009a8c23!2sMedhi%20Phukan%20Path%2C%20Hatigaon%2C%20Guwahati%2C%20Assam!5e0!3m2!1sen!2sin!4v1604284936922!5m2!1sen!2sin" width="100%" height="100px" frameborder="0" style="border:0" allowfullscreen></iframe>       
                </div>
            </div>






        </div>
    </div>
</section>